.loader-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-section h2 {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.041) 0px 0px 15px 0px;
    border-radius: 4px;
    background-color: #fff;
    color: #2874F0;
}