.product-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    gap: 15px;
    position: relative;
    margin: 20px 0px;
    padding: 0px 20px;
    justify-content: center;

}

.product-grid .product-card {
    width: 248px;
    height: auto;
    position: relative;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.090) 0px 0px 5px 0px;
    transition: 0.5s ease;
    cursor: pointer;
}

.product-grid .product-card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-grid .product-card .poster {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.product-card .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.product-grid .product-card:hover img {
    filter: grayscale(0.5);
}


.product-card .product-info {
    width: 100%;
    padding: 8px 5px;
    background-color: #fff;
    transition: 0.5s ease;
    position: relative;
}

.product-card:hover .product-info {
    transform: translateY(-15px);
}


.product-card .product-info .brand {
    text-transform: uppercase;
    font-size: 14px;
    color: #3f3f3f;
    font-weight: 500;
}

.product-card .product-info .title {
    font-size: 17px;
    color: #050505;
    margin: 0px 0px 5px 0px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s ease;
}

.product-card:hover .title {
    color: #2874F0;

}


.product-card .product-info .price-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-info .price-info .discountPrice {
    font-size: 20px;
    font-weight: 600;
    color: #3f3f3f;
}

.product-info .price-info .price {
    font-size: 15px;
    font-weight: 500;
    color: #646464;
    text-decoration: line-through;
}

.product-info .price-info .discountPersent {
    font-weight: 500;
    color: #468585;
    font-size: 14px;
}


.product-info .ratings .rating {
    color: #fff;
    background-color: #2F363F;
    color: #FFF222;
    width: 40px;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
}

.product-info .quantity {
    position: absolute;
    top: 0;
    right: 0;
}

.product-info .quantity .in-stock {
    background-color: #26ae60;
    padding: 1px 5px;
    font-size: 13px;
    color: #fff;
}

.product-info .quantity .out-of-stock {
    background-color: #E44236;
    padding: 1px 5px;
    font-size: 13px;
    color: #fff;
}

.product-info .reviews {

    margin: 5px 0px 10px 0px;
}

.product-info .reviews .review {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #646464;
}

.product-info .reviews .no-reviews {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #646464;
}






/* Filtering  */

.filtering {
    width: 97%;
    margin: 30px auto 0px auto;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 0px 2%;
}

.filtering h2 {
    text-transform: uppercase;
    font-size: 17px;
}

.filtering .filter-options {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    justify-content: right;
}

.filtering .filter-options .select {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtering .filter-options .search {
    position: relative;
    width: 30%;
}

.filtering .filter-options .search .search-bar {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    outline: none;
    background-color: #f7f7f7;

}

.filtering .filter-options .search .search-icon {
    position: absolute;
    right: 15px;
    top: 12px;
}


/* Custome Dropdown  */

.custom-dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.dropdown-header {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    align-items: center;
}

.arrow {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow-y: auto;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.051) 0px 5px 15px 0px;


}

.dropdown-options.open {
    max-height: 200px;
    /* Adjust based on the number of options */
    opacity: 1;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-option:hover {
    background-color: #f1f1f1;
}

@media(max-width:991px) {
    .filtering {
        flex-direction: column;
        height: auto;
        padding: 15px 0px;
    }

    .filtering h2 {
        margin-bottom: 25px;
    }

    .filtering .filter-options {
        justify-content: space-between;
        width: 100%;
        padding: 0px 2%;
    }
}

@media(max-width:768px) {
    .filtering .filter-options {
        flex-direction: column;
    }

    .filtering .filter-options .search {
        position: relative;
        width: 100%;
    }
}

@media(max-width:576px) {
    .product-grid {
        display: grid;
        flex-wrap: nowrap;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    .product-grid .product-card {
        width: 100%;
    }
}