.heading {
    width: 100%;
    height: auto;
    position: relative;
    margin: 40px 20px 0px 20px;
}

.heading h2 {
    font-size: 22px;
    font-weight: 500;
    color: #555454;
}

.heading .box {
    width: 100px;
    height: 3px;
    background-color: #e2e2e2;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.heading .box .line {
    width: 60px;
    height: 100%;
    background-color: #F5004F;
    animation: line 2s ease infinite;
}


@keyframes line {
    from {
         transform: translateX(-100%);
    }

    to {
        transform: translateX(200%);
    }
}