.producd-details {
    display: flex;
    padding: 30px 20px;
    gap: 20px;
    position: relative;
}

.producd-details .product {
    display: flex;
    width: 100%;
    gap: 20px;
}

.producd-details .image-section {
    width: 400px;
    height: auto;
    position: relative;
    border-radius: 4px;

}

.image-section .main-image {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
}



.image-section .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-section .gallary {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}


.image-section .gallary img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-color: #2874F0;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}



.producd-details .details {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}

.producd-details .details .breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #f7f7f7;
    padding: 0px 2%;
}

.producd-details .details .breadcrumb a {
    color: #6d6d6d;
    font-size: 15px;
    transition: 0.5s ease;
}

.producd-details .details .breadcrumb a:hover {
    color: #2874F0;
}

.producd-details .details .breadcrumb p {
    display: flex;
    align-items: center;
    color: #6d6d6d;
    font-size: 15px;

}


.producd-details .details .info {
    padding: 15px;
}

.details .info .brand {
    font-weight: 500;
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 15px;

}

.details .info .title {
    font-weight: 500;
    color: #212121;
    margin: 8px 0px 15px 0px;
    font-size: 14px;

}

.details .info .rating-reviews {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}


.details .info .rating-reviews .reviews {
    font-size: 15px;
    color: #212121;
    display: flex;
    align-items: center;
}

.details .info .rating-reviews .rating {
    background-color: #2F363F;
    color: #FFF222;
    width: 40px;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
}

.details .info .rating-reviews .rating .stars {
    display: flex;
    align-items: center;
}

.details .info .price-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.details .info .price-box .discount-price {
    font-weight: 600;
    color: #1A3636;
    font-size: 25px;
}


.details .info .price-box .price {
    font-weight: 500;
    color: #6d6d6d;
    font-size: 18px;
    text-decoration: line-through;
}

.details .info .price-box .discount {
    color: #468585;
    font-size: 18px;
}

.details .info .stock .in-stock {
    color: #26ae60;
    font-size: 14px;
}

.details .info .stock .out-of-stock {
    color: #E44236;
    font-size: 14px;
}

.details .info .desc span {
    font-size: 15px;
    color: #1A3636;
}

.details .info .checkout-btn {
    background-color: #2874F0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 20px 0px;
    border-radius: 2px;
    box-shadow: rgb(26, 54, 54, 0.090) 0px 5px 10px 0px;
    cursor: pointer;
}

.heading-2 {
    font-size: 14px;
    color: #6d6d6d;
    margin: 22px 0px 8px 0px;
}