.orders {
    display: flex;
    width: 97%;
    margin: 20px auto 30px auto;
    position: relative;
    gap: 20px;
}

.orders .filter-orders {
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    position: sticky;
    top: 100px;
}

.filter-orders h3 {
    color: #1A3636;
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    padding: 10px 15px;
}

.filter-orders h2 {
    color: #6d6d6d;
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    padding: 10px 15px;
}

.filter-orders .value {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 15px;
}


/* My Orders */

.orders .my-orders {
    flex-grow: 1;
    position: relative;
}

.orders .my-orders .search-order {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.orders .my-orders .search-order .search-bar {
    width: 70%;
    height: 40px;
    border: 1px solid #DBDBDB;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 15px;
    outline: none;
}

.orders .my-orders .search-order .search {
    height: 40px;
    padding: 0px 15px;
    background-color: #2874F0;
    border: none;
    outline: none;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 5px;
}

.orders .my-orders .order {
    width: 100%;
    position: relative;
    height: auto;
}

.orders .my-orders .order .order-card {
    border: 1px solid #DBDBDB;
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.order .order-card .order-left {
    display: flex;
    gap: 15px;
}

.order .order-card .order-left .order-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
}

.order-card .order-left .order-brand {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 500;
}

.order-card .order-left .order-title {
    color: #1A3636;
    font-size: 16px;
    margin-top: 6px;
}

.order-card .order-left .red {
    width: 100px;
    height: 30px;
    background-color: crimson;
    color: #fff;
    margin-top: 10px;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 3px;
}

.order-card .order-price {
    font-weight: 500;
    font-size: 16px;
}

.order-card .order-status {
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order-card .order-status .status {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #1A3636;
    margin-bottom: 9px;
}

.order-card .order-status span {
    font-size: 12px;
    color: #6d6d6d;
}

.order-card .order-status .rating-button {
    margin-top: 10px;
    font-weight: 500;
    color: #2874F0;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.orders .my-orders .show-more {
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    width: 150px;
    margin: 30px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: #2874F0;
    height: 35px;
    cursor: pointer;
}

.order-card .order-status .status .dot {
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}