.offer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    position: relative;
    padding: 30px 20px;
}

.min-width{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
}

.offer-grid .offer-card {
    width: 100%;
    height: 250px;
    position: relative;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.5s linear;
    cursor: pointer;
}

.offer-grid .offer-card:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.offer-grid .offer-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.offer-card .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(13, 15, 18);
    background: linear-gradient(0deg, rgba(13, 15, 18, 1) 3%, rgba(13, 15, 18, 0.05646008403361347) 100%);
    border-radius: 5px;


}

.offer-card .overlay .offer {
    font-weight: 800;
    font-size: 2vw;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px;
}